{% extends "base.html.twig" %}

{% block body %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope='col' style="padding: 6px 5px; font-size: 1.6em; text-align: center;">
                Ville
                <div style="display: flex; justify-content: center; margin-top: 5px; gap: 5px;">
                    <a class="btn btn-primary btn-sm" href="{{ path('voyages.sort', {champ:'ville', ordre:'ASC'}) }}" role="button" style="padding: 2px 5px; font-size: 0.4em;"><</a>
                    <a class="btn btn-primary btn-sm" href="{{ path('voyages.sort', {champ:'ville', ordre:'DESC'}) }}" role="button" style="padding: 2px 5px; font-size: 0.4em;">></a>
                </div>
            </th>            
            <th scope='col' style="padding: 6px 5px; font-size: 1.6em; text-align: center;">
                Pays
                <div style="display: flex; justify-content: center; margin-top: 5px; gap: 5px;">
                    <a class="btn btn-primary btn-sm" href="{{ path('voyages.sort', {champ:'pays', ordre:'ASC'}) }}" role="button" style="padding: 2px 5px; font-size: 0.4em;"><</a>
                    <a class="btn btn-primary btn-sm" href="{{ path('voyages.sort', {champ:'pays', ordre:'DESC'}) }}" role="button" style="padding: 2px 5px; font-size: 0.4em;">></a>
                </div>
            </th>
            <th scope='col' style="padding: 6px 5px; font-size: 1.6em; text-align: center;">
                Note
                <div style="display: flex; justify-content: center; margin-top: 5px; gap: 5px;">
                    <a class="btn btn-primary btn-sm" href="{{ path('voyages.sort', {champ:'note', ordre:'ASC'}) }}" role="button" style="padding: 2px 5px; font-size: 0.4em;"><</a>
                    <a class="btn btn-primary btn-sm" href="{{ path('voyages.sort', {champ:'note', ordre:'DESC'}) }}" role="button" style="padding: 2px 5px; font-size: 0.4em;">></a>
                </div>
            </th>
            <th scope='col' style="padding: 6px 5px; font-size: 1.6em; text-align: center;">
                Date
                <div style="display: flex; justify-content: center; margin-top: 5px; gap: 5px;">
                    <a class="btn btn-primary btn-sm" href="{{ path('voyages.sort', {champ:'datecreation', ordre:'ASC'}) }}" role="button" style="padding: 2px 5px; font-size: 0.4em;"><</a>
                    <a class="btn btn-primary btn-sm" href="{{ path('voyages.sort', {champ:'datecreation', ordre:'DESC'}) }}" role="button" style="padding: 2px 5px; font-size: 0.4em;">></a>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
    {% for visite in visites %}
            <tr>
                <th scope="row">{{ visite.ville }}</th>
                <td>{{ visite.pays }}</td>
                <td class="text-end">
                    <strong>
                        {% if visite.note<10 %}
                        <div class="text-danger">
                            {{ visite.note}}/20
                        </div>
                        {%  else  %}
                        <div class="text-success">
                            {{ visite.note }}/20
                        </div>
                        {% endif %}
                    </strong>
                </td>
                <td>{{ visite.datecreationstring }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}