{% extends "base.html.twig" %}

{% block title %} {% endblock %}

{% block stylesheets %} {% endblock %}

{% block top %}

{% endblock %}

{% block body %} 
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope='col' style="padding: 1px 1px; font-size: 1.6em; text-align: center;">
            Ville       
        </th>            
        <th scope='col' style="padding: 6px 5px; font-size: 1.6em; text-align: center;">
            Pays
        </th>
        <th scope='col' style="padding: 6px 5px; font-size: 1.6em; text-align: center;">
            Date
        </th>
    </tr>
    </thead>
    <tbody>
        {% for visite in visites %}
        <tr>
            <td scope="row">{{ visite.ville }}</td>
            <td>{{ visite.pays }}</td>
            <td>{{ visite.datecreationstring }}</td>
            <td>
                <a  href="{{ path('admin.voyage.edit', {id:visite.id}) }}" class="btn btn-secondary">Editer</a>
                <a  href="{{ path('admin.voyage.suppr', {id:visite.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer {{ visite.ville }} ?')" class="btn btn-danger">Supprimer</a>
                <a  href="{{ path('admin.voyage.ajout') }}" onclick="return confirm('Etes-vous sûr de vouloir crée une nouvelle visite ?')" class="btn btn-primary btn-smr">Ajouter</a>
            </td>
        </tr>
        {% endfor %}
{% endblock %}
    
{% block javascripts %} {% endblock %}
